<div id="about" class="container-fluid pages">
    <h1>Have you ever wanted to know where crimes happen in Indianapolis?</h1>
    <p>
      We have the solution.
    </p>

    <hr/>

    <h2>What is Indy Crime Map?</h2>
    <p>
      This map data shows crimes commited in 2014 according to IMPD Database. The objective of this application
      is to show where crime happens and what can be done to prevent future crimes. Our goal is to present
      real time data that is relevant to users to stay aware of what is going on in the city.
    </p>
</div>
