<div id="home" class="container-fluid pages">
  <div>
    <h1>{{title}}</h1>
    <h3>{{locations.[1]}}
    <hr class="twoThirdsHR">
    <p>Welcome to {{title}}</p>
    <p>
      {{desc}}
    </p>
  </div>
</div>
