<div id="home" class="container-fluid pages">
  <div class="spacer"></div>
  <div>
    <h1>{{title}}</h1>
    <h3>{{locations.[1]}}
    <hr class="twoThirdsHR">
    <h2>Welcome to {{title}}</h2>
    <p>
      {{desc}}
    </p>
  </div>
</div>
