<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="initial-scale=1.0">
    <title>{{title}}</title>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <link rel='stylesheet' href="/stylesheets/bootstrap/css/bootstrap.min.css">
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    {{{body}}}
    <nav>
      <ul>
        <li class="navItems"><a href="/" class="navLinks">HOME</a></li>
        <li class="navItems"><a href="/about" class="navLinks">ABOUT</a></li>
        <li class="navItems"><a href="/map" class="navLinks">MAP</a></li>
      </ul>
      <ul id="lgn-list">
        <li class="lgnBtns">Sign up<i class="glyphicon glyphicon-pencil"></i></li>
        <li class="lgnBtns">Sign in</li>
      </ul>
    </nav>
    <div id="user_forms_container" style="display: none">
      <span id="close_ufc"><i class="fa fa-times"></i></span>
      <h1>User Portal</h1>
      <form action="/login" method="post" id="login_form" class="userForms">
        <input type="text" name="username" value="" placeholder="Username">
        <input type="password" name="password" value="" placeholder="Password">
        <input type="submit" value="Login">
      </form>

      <form action="/register" method="post" id="register_form" class="userForms">
        <input type="text" name="username" value="" placeholder="Username">
        <input type="email" name="email" value="" placeholder="Email">
        <input type="password" name="password" value="" placeholder="Password">
        <input type="submit" value="Create Account">
      </form>
    </div>
    <script src="/stylesheets/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
    <script src="/javascripts/login.js" type="text/javascript"></script>
  </body>
</html>
