<!DOCTYPE html>
<html>
  <head>

    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    {{{body}}}
    <nav>
      <a href="/" class="navItems">HOME</a>
      <a href="/about" class="navItems">ABOUT</a>
      <a href="/map" class="navItems">MAP</a>
    </nav>
  </body>
</html>
