<!DOCTYPE html>
<html>
  <head>
    <script async defer
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD-tJkK9B2PRacdsZOubbxFbtyxSsH2k0g=initMap">
    </script>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    {{{body}}}
  </body>
</html>
