<!DOCTYPE html>
<html>
  <head>

    <title>{{title}}</title>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <link rel='stylesheet' href="/stylesheets/bootstrap/css/bootstrap.min.css">
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    {{{body}}}
    <nav>
      <a href="/" class="navItems">HOME</a>
      <a href="/about" class="navItems">ABOUT</a>
      <a href="/map" class="navItems">MAP</a>
    </nav>
    <script src="/stylesheets/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
  </body>
</html>
