<div id="map">
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD31XafL-YUZoQR6qKtlFKPvLJmQseOWmo"></script>
  <script>
  // function initialize() {
  //   var mapInit = {
  //     center:new google.maps.LatLng(39.7684,-86.1581),
  //     zoom:11,
  //     mapTypeId:google.maps.MapTypeId.ROADMAP
  //   };
  //   var map=new google.maps.Map(document.getElementById("googleMap"),mapInit);
  // }
  google.maps.event.addDomListener(window, 'load');
  </script>

  <div id="googleMap"></div>

  <script src="/javascripts/map.server.js" type="text/javascript"></script>
</div>
