<div id="map">

  <div id="mapLegend">
    <table>
      <caption>LEGEND</caption>
      <tr>
        <th>Marker</th>
        <th>Crime</th>
      </tr>
      <tr>
        <td><img src="http://maps.google.com/mapfiles/ms/icons/red-dot.png"></td>
        <td>ROBBERY</td>
      </tr>
      <tr>
        <td><img src="http://maps.google.com/mapfiles/ms/icons/purple-dot.png"></td>
        <td>RAPE</td>
      </tr>
      <tr>
        <td><img src="http://maps.google.com/mapfiles/ms/icons/blue-dot.png"></td>
        <td>ASSAULT</td>
      </tr>
      <tr>
        <td><img src="http://maps.google.com/mapfiles/ms/icons/green-dot.png"></td>
        <td>LARCENY</td>
      </tr>
      <tr>
        <td><img src="http://maps.google.com/mapfiles/ms/icons/orange-dot.png"></td>
        <td>STOLEN VEHICLE</td>
      </tr>
      <tr>
        <td><img src="http://maps.google.com/mapfiles/ms/icons/yellow-dot.png"></td>
        <td>HOMICIDE</td>
      </tr>
      <tr>
        <td><img src="http://maps.google.com/mapfiles/ms/icons/ltblue-dot.png"></td>
        <td>BURGLARY</td>
      </tr>
      <tr>
        <td><img src="http://maps.google.com/mapfiles/ms/icons/pink-dot.png"></td>
        <td>OTHER</td>
      </tr>
    </table>
  </div>

  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD31XafL-YUZoQR6qKtlFKPvLJmQseOWmo"></script>
  <div id="googleMap"></div>
  <!-- <div id="map-selection-menu" display:none>
    <ul>
      <li>asda</li>
    </ul>
  </div> -->

  <script src="/javascripts/map.server.js" type="text/javascript"></script>
</div>
