<div id="map">
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD31XafL-YUZoQR6qKtlFKPvLJmQseOWmo"></script>
  <div id="googleMap"></div>
  <!-- <div id="map-selection-menu" display:none>
    <ul>
      <li>asda</li>
    </ul>
  </div> -->

  <script src="/javascripts/map.server.js" type="text/javascript"></script>
</div>
